pypdf
PyPDF2
psycopg2-binary
sentence-transformers
chromadb
langchain
langchain-text-splitters
langchain-openai
python-dotenv
httpx
fastapi
uvicorn
streamlit
sqlalchemy
openmeteo-requests
requests-cache
retry-requests
numpy
pandas
tabula-py
openpyxl